DCC_ENV=dev
COMPOSE_PROJECT_NAME=fsex
# provide the url over which the frontend accesses the server
API_URL=http://localhost:5000

DJANGO_SETTINGS_MODULE=fsex.settings

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=fsex
POSTGRES_USER=fsex
POSTGRES_PASSWORD=secret

DJANGO_SU_NAME=admin
DJANGO_SU_EMAIL=
DJANGO_SU_PASSWORD=admin

DJANGO_BACKEND_PORT=5077

DJANGO_ALLOWED_HOSTS=localhost,api
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8077,http://api:5000
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8077,http://api:5000
DJANGO_SECRET_KEY=kjsdhfkajsdhfkewiucjniuecniw-sldkjnejwrnvkjwrn-sodcnwojcnwijnc
DJANGO_LOG_LEVEL=DEBUG
DJANGO_DEBUG=True

DBBACKUP_STORAGE_LOCATION=/vol/backups/
DBBACKUP_ADMINS=
DBBACKUP_EMAIL_SUBJECT_PREFIX='[Fsex DB Backup]'

VITE_APP_TITLE=Full Stack Example
VITE_APP_I18N_LOCALE=en
VITE_APP_I18N_FALLBACK_LOCALE=en

SMNRP_DOMAINS=localhost
SMNRP_UPSTREAMS=api:5000
SMNRP_UPSTREAM_PROTOCOL=http
SMNRP_LOCATIONS=/api/!http://targets/api/,/static/!/vol/web/static/,/media/!/vol/web/media/,/admin/!http://targets/admin/